<%= simple_form_for [@event] do |f| %>

<div class="newevent">
<h2 id="formheading">Create your Event.</h2>
<div class="nameaddress">
		<%= f.input :name, placeholder: "Name of the Event"%>

		<%= f.input :address, placeholder: "Address for your Event."%>
	</div>
	<div class="datetime">
	<div><%= f.input :date%></div>
	<div class="timeinput"><%= f.input :time%></div>	
	</div>		
	<div class="description">
		<%= f.input :description, as: :text,:input_html => {:rows => 10},placeholder: " Description of the Event." %>
	</div>		
	<%= f.submit class: "btn" %>

	<%end%>
</div>