<div class="container">
  <div class="row page-title"><h2> / <%=@event.name%></h2>
      <div>
        <%=@event.users.count%> <br>
        <%= link_to "Participants", event_participants_path(@event) , class: "participants-subtitle" %>
      </div>
      <div>
        <%=@event.surveys.count%> <br>
        <%= link_to "Surveys", event_surveys_path(@event), class: "participants-subtitle" %>
      </div>
      <div>
        <%=@event.questions.count%><br>
        <%= link_to "Questions", event_questions_path(@event), class: "votes-subtitle" %>
      </div>
  </div>

  <div class="row page-subtitle-flex">
       <p>add slides to your event</p>
  </div>
</div>


<div class="container">
  <div class="row event-upload-slides">
    <span class="live"><i class="fa fa-dot-circle-o" aria-hidden="true"></i><%= link_to "Go to live page", event_live_index_path(@event) %></span>
     <% if @event.presentation == nil && current_user == @event.presenter %>
        <%= link_to "Click here to add slides.", new_event_presentation_path(@event) %>
    <% end %>
    <!-- <! Carousel SlideShow -->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% if current_user == @event.presenter  and @event.presentation.present? %>
            <% @slides.each_with_index do |p, i| %>
            <div class="carousel-item <%= i == 0  ? 'active' : ''%>">
              <img class="d-block img-fluid" src="<%= p.photo.url %>" alt="Second slide">
            </div>

            <% end %>
          <% end %>
          <br>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="carousel-control-prev-icon" aria-hidden="true"></i>
            <i class="sr-only">Previous></i>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="carousel-control-next-icon" aria-hidden="true"></i>
            <i class="sr-only">Next></i>
          </a>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row event-description">
   <%= @event.description %>
  </div>
</div>

<div class="container">
    <div class="row event-address">
      <strong> Presenter email: </strong>
      <%= @event.presenter.email %>
    </div>
  <div class="row event-address">
    <%= image_tag("map.png", height: '20', width: '20')%>  <%= @event.address %>
    </div>
    <div class="row event-address">
      <%= image_tag("address.png", height: '20', width: '20') %> <%= @event.date %>
      </div>
      <div class="row event-address"><i class="fa fa-id-badge" aria-hidden="true"></i> <%= @event.token %></div>
  </div>

  <%# if @event.presenter == current_user  %>
  <!-- <strong> List of participants: </strong> -->
  <%# @event.users.each do |user| %>
  <!-- <li><%#= user.email %></li> -->
  <%#= link_to "Remove the participant", event_remove_user_from_event_path(@event, user), method: :post %>
  <%# end %>
  <%# end %>
<!-- </p>


<%# if current_user == @event.presenter %>
    <%#= link_to "Remove presentation", event_presentation_path(@event, @event.presentation), method: :delete %>
    <%#= link_to "Add new presentation", new_event_presentation_path(@event) %>
-->
