<div class="chat-box">


</div>


<h1> <%=@event.name%> </h1>
<p>
  <strong> Address: </strong>
  <%= @event.address %>
</p>

<p>
  <strong> Description: </strong>
  <%= @event.description %>
</p>

<p>
  <strong> Date of event: </strong>
  <%= @event.date %>
</p>

<p>
  <strong> Time: </strong>
  <%= @event.time %>
</p>

<p>
  <strong> Token: </strong>
  <%= @event.token %>
</p>

<p>
  <% if @event.presenter == current_user  %>
    <strong> List of participants: </strong>
    <% @event.users.each do |user| %>
    <li><%= user.email %></li>
    <%= link_to "Remove the user", event_remove_user_from_event_path(@event, user), method: :post %>
    <% end %>
  <% end %>
</p>

<p>
  <strong> Presenter email: </strong>
  <%= @event.presenter.email %>
</p>



<% content_for(:after_js) do %>
	<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
	
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('10bb9323b98217d7b03c', {
      cluster: 'us2',
      encrypted: true
    });

		var channel = pusher.subscribe('event-<%= @event.id %>');
	 
		
		channel.bind('message', function(data) {
			$('.chat-box').append("<p>A new user connected: " + data.message + " </p>"); 
    });


  </script>

<% end %>
