
<div id="particles-js"></div>

<div class="main-search-bar">
	<div class="home-component">
		<h1>
			Create your event <br> and tell them: <span class="underline--magical">it'Slive.</span>
		</h1>
		<form action= "<%=register_path%>" method = "post" class="home-form">
			<input type="hidden" name="authenticity_token" value= "<%=form_authenticity_token%>">
			<input type="text" placeholder="Whats your event name?" name="token" class= "query">
			<input type="submit" value="Join" class= "btn btn-primary">
		</form>	
	</div>
</div>

<!-- <div class="quick-info">
	<div class="quick-info-components">
		<h3>
			Create your event right now
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae recusandae doloribus fugiat amet. 
		</p>
	</div>
	<div class="quick-info-components">
		<h3>
			Interact with your audience 
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae recusandae doloribus fugiat amet. 
		</p>
	</div>
	<div class="quick-info-components">
		<h3>
			Gather valuable data 
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae recusandae doloribus fugiat amet. 
		</p>
	</div>
</div> -->
<div class="caricatures">
	<div class="home-text-button">
	<br><br>
		<h2>A <span class="underline--magical">POWERFUL</span> PRESENTATION TOOL</h2>
		<br>
	  <p>Slive is a powerful tool designed to help presenter make the most out of his presentation.It allows you to create user interactions during a presentation without breaking the flow of your presentation.It's a blessing.</p>
	  <span class="underline--magical"> <%= link_to "GET STARTED" %></span>
	</div>
	<div class="img-container">
     <%= image_tag "slides-3.png", class: "img-1" %>
	</div>
	
</div>

<div class="caricatures-2">
	<div class="home-image">
		<%= image_tag "home-image.png" %>
	</div>
	<div class="home-text-button">
		<h2>REACH YOUR <span class="underline--magical">AUDIENCE</span> BETTER.</h2>
		<br>
	  <p>Slive helps you get real time surveys from the whole room. It facilitates a bunch of interactive activities - like push information snippets or collect questions and doubts at the end of your presentation.</p>
	  <span class="underline--magical"><%= link_to "FEATURES" %></span>
	</div>
</div>