
<div class="container headings">
  <div class="row page-title">
    <h2>/ <%= link_to @event.name, event_path(@event) %> </h2>
    <% if current_user == @event.presenter %>
      <%= link_to "Make a survey", new_event_survey_path(@event) %>
    <% end  %>

  </div>
<div class="container">
  <div class="row slide-show">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% if @event.presentation.present? %>
          <% @slides.each_with_index do |p, i| %>
          <div class="carousel-item <%= i == 0  ? 'active' : ''%>">
            <img class="d-block img-fluid" src="<%= p.photo.url %>" alt="Second slide">
          </div>

          <% end %>
        <% end %>
        <br>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="carousel-control-prev-icon" aria-hidden="true"></i>
          <i class="sr-only">Previous></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="carousel-control-next-icon" aria-hidden="true"></i>
          <i class="sr-only">Next></i>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row notifications">
    <div class="chat-join"></div>
  </div>
</div>

<div class="wrapper chatboxes">
  <div class="container chat-box-container-1">
    <div class="row chat-box-1" id="questions">
      <% @ordered_objects.each do |o| %>
        <div class="text-1">
          <%if o.class == Question %>
             <%= o.user.full_name %>: <%= o.question %>
             <br>
            <h5> Answers </h5>
            <div id="question-<%= o.id %>">
              <% o.answers.each do |a| %>
                <%= a.user.full_name %>: <%= a.description %>
              <% end %>
            </div>
            <div class="text-1">
              <%= render "questions/show_question", question: o, answer: Answer.new %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container chat-box-container-2">
    <div class="row chat-box-2">
      <div class="status"></div>
      <% @ordered_objects.each do |o| %>
        <% if  o.class == Survey %>
          <div class="text-2">
             <p>
                <%= o.user.full_name %>: <%= render "surveys/show_survey", event: @event, survey: o, vote: Vote.new %>
            </p>
          </div>
       <% elsif o.class == Livemessage %>
          <div class="text-2">
            <p> <%= o.user.full_name %>: <%= o.description %></p>
          </div>
        <% end  %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper keyboards">
  <div class="container keyboard-container-1">
    <div class="row keyboard-1">
      <%= render 'questions/form_for_questions' %>
    </div>
  </div>
   <div class="container keyboard-container-2">
    <div class="row keyboard-2">
      <%= render 'livemessages/new' %>
    </div>
  </div>
</div>








<% content_for(:after_js) do %>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>
  function escapeHtmlEntities (str) {
    if (typeof jQuery !== 'undefined') {
      // Create an empty div to use as a container,
      // then put the raw text in and get the HTML
      // equivalent out.
      return jQuery('<div/>').text(str).html();
    }

    // No jQuery, so use string replace.
    return str
      .replace(/&/g, '&amp;')
      .replace(/>/g, '&gt;')
      .replace(/</g, '&lt;')
      .replace(/"/g, '&quot;');
  }
    // Enable pusher logging - don't include this in production
    //Pusher.logToConsole = true;

    $("#new_livemessage").on("submit", function() {
      setTimeout(function() {
        $("#livemessage_description").val("");
      }, 0);
    });

    $("#new_livemessage").on("ajax:complete", function(event, request) {
      console.log(request)
      appendLiveMessage(request.responseJSON)
    });

    var pusher = new Pusher('1980dcfefbb9558eb6ee', {
      cluster: 'ap2',
      encrypted: true
    });

    function appendLiveMessage(data) {
      if ($("[data-id='" + data.id + "']").length > 0) {
        return;
      }

      $('.chat-box-2').append(
        "<div class='text-2' data-id='" + data.id + "'>" +
          "<p>"+data.user+":- "+ escapeHtmlEntities(data.message)  + "</p>" +
        "</div>"
      );
      scrollToBottom();
    }

    function scrollToBottom() {
      $('.chat-box-2').animate({ scrollTop: $('.chat-box-2')[0].scrollHeight });
    }

    scrollToBottom();
    function scrollToBottom() {
      $('.chat-box-1').animate({ scrollTop: $('.chat-box-1')[0].scrollHeight });
    }

    scrollToBottom();

    pusher.connection.bind('connected', function() {
      $('.status').text('Realtime is go!');
    });

    pusher.connection.bind('disconnected', function() {
      $('.status').text('Realtime not availaible!');
    });


    var channel = pusher.subscribe('event-<%= @event.token %>');

    channel.bind('message', function(data) {
      $('.chat-join').append("<p>" + "<%= j current_user.email%>" + " connected: " + escapeHtmlEntities(data.message) + "</p>");
    });


    channel.bind('question', function(data) {
        $('.chat-box-1').append("<div class='text-1'>"+data.user+":- "+ data.question_html + "</div>" );
      })

    channel.bind('livemessage', appendLiveMessage);


    channel.bind('survey', function(data) {
      $('.chat-box-2').append("<p>"+data.user+":- "+ data.survey_html +"</p>" );

    })



    channel.bind('survey_pie_chart', function(data) {
        // $('.chat').append("<p>"+ data.votes +"</p>" );
        $("#chartContainer-" + data.id).empty();
        var chart = new CanvasJS.Chart("chartContainer-" + data.id,
        {
          title:{
            text: data.question
          },
          animationEnabled: true,
          legend:{
            verticalAlign: "center",
            horizontalAlign: "left",
            fontSize: 20,
            fontFamily: "Montserrat"
          },
          theme: "theme2",
          data: [
          {
            type: "pie",
            indexLabelFontFamily: "Montserrat",
            radius: 60,
            indexLabelFontSize: 15,
            indexLabel: "{label}",
            startAngle:-20,
            showInLegend: false,
            toolTipContent:"{y} votes",
            dataPoints: data.votes
          }]
        });
        chart.render();
      })


    </script>
    <% end %>





