<div class="live-headings">
  <h2>Welcome to the event </h2>
  <h2>The event will start at <%= @event.time.strftime("%I" "%M") %></h2>
  <h3><%= link_to @event.name, event_path(@event) %></h3>
</div>


<div class="chat-join">


</div>

<div>
   <h1>Welcome to the event </h1>
   <h2>The event will start at <%= @event.time.strftime("%I" "%M") %></h2>
   <h3><%= link_to @event.name, event_path(@event) %></h3>
</div>

<div>
   <%= link_to "Make a survey", new_event_survey_path(@event) %>
</div>


<div class="chat">
  <% @ordered_objects.each do |o| %>
    <% if  o.class == Survey %>
      <p>
        <%= o.user.email %>: <%= render "surveys/show_survey", event: @event, survey: o, vote: Vote.new %>
      </p>


    <% else %>
      <p>
        <%= o.user.email %>: <%= o.description %>
      </p>
    <% end  %>
  <% end %>
</div>

<div>
  <%= render 'livemessages/new' %>
</div>

<% content_for(:after_js) do %>

  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    //Pusher.logToConsole = true;

    var pusher = new Pusher('1980dcfefbb9558eb6ee', {
      cluster: 'ap2',
      encrypted: true
    });

    pusher.connection.bind('connected', function() {
      $('.status').text('Realtime is go!');
    });

    pusher.connection.bind('disconnected', function() {
      $('.status').text('Realtime not availaible!');
    });


    var channel = pusher.subscribe('event-<%= @event.token %>');

    channel.bind('message', function(data) {
      $('.chat-join').append("<p>" + "<%=current_user.email%>" + " connected: " + data.message + " </p>");
    });

    channel.bind('livemessage', function(data) {

				$('.chat').append("<p>"+data.user+":- "+ data.message  +"</p>" );
     });

    channel.bind('survey', function(data) {
        $('.chat').append("<p>"+data.user+":- "+ data.survey_html +"</p>" );

    })



    channel.bind('survey_pie_chart', function(data) {
        // $('.chat').append("<p>"+ data.votes +"</p>" );
      $("#chartContainer-" + data.id).empty();
      var chart = new CanvasJS.Chart("chartContainer-" + data.id,
      {
        title:{
          text: data.question
        },
                    animationEnabled: true,
        legend:{
          verticalAlign: "center",
          horizontalAlign: "left",
          fontSize: 20,
          fontFamily: "Helvetica"
        },
        theme: "theme2",
        data: [
        {
          type: "pie",
          indexLabelFontFamily: "Garamond",
          indexLabelFontSize: 20,
          indexLabel: "{label}",
          startAngle:-20,
          showInLegend: true,
          toolTipContent:"{y} votes",
          dataPoints: data.votes
        }]
      });
      chart.render();
    })


	</script>
<% end %>






  <!-- channel.bind('survey_votes', function(data) {
        $('.chat').append("<p>"+":- "+ data.vote +"</p>" );
    }) -->

       