<br>
<div class="container">
  <div class="row slide-show">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% if @event.presentation.present? %>
          <% @slides.each_with_index do |p, i| %>
          <div class="carousel-item <%= i == 0  ? 'active' : ''%>">
            <img class="d-block img-fluid" src="<%= p.photo.url %>" alt="Second slide">
          </div>

          <% end %>
        <% end %>
        <br>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="carousel-control-prev-icon" aria-hidden="true"></i>
          <i class="sr-only">Previous></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="carousel-control-next-icon" aria-hidden="true"></i>
          <i class="sr-only">Next></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row page-title">
    <h2>/ <%= link_to @event.name, event_path(@event) %> </h2>
    <%= link_to "Ask the presenter" %>
    <%= link_to "Make a survey", new_event_survey_path(@event) %>
    <%= link_to "Ask a Question", new_event_question_path(@event) %>
  </div>

<div class="wrapper">
  <div class="container">
    <div class="row notifications">
     <div class="chat-join"></div>
    </div>
  </div>
  <div class="container">
    <div class="row chat-box">
     <div class="status"></div>
      <% @ordered_objects.each do |o| %>
        <% if  o.class == Survey %>
          <div class="text">
             <p>
              <%= o.user.full_name %>: <%= render "surveys/show_survey", event: @event, survey: o, vote: Vote.new %>
            </p>
          </div>
        <% elsif o.class == Question %>
          <div class="text">
            <p> <%= o.user.full_name %>: <%= o.question %> </p>
            <h5> Answers </h5>
            <div id="question-<%= o.id %>">
              <% o.answers.each do |a| %>
                <%= a.user.full_name %>: <%= a.description %>
                <br>
              <% end %>
            </div>
            <div class="text">
              <%= render "questions/show_question", question: o, answer: Answer.new %>
            </div>
          </div>
        <% else %>
          <div class="text">
            <p> <%= o.user.full_name %>: <%= o.description %></p>
          </div>
        <% end  %>
      <% end %>

    </div>
  </div>
  <div class="container">
    <div class="row keyboard">
      <%= render 'livemessages/new' %>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>

    // Enable pusher logging - don't include this in production
    //Pusher.logToConsole = true;

    var pusher = new Pusher('1980dcfefbb9558eb6ee', {
      cluster: 'ap2',
      encrypted: true
    });

    function scrollToBottom() {
      $('.chat-box').animate({ scrollTop: $('.chat-box')[0].scrollHeight });
    }

    scrollToBottom();

    pusher.connection.bind('connected', function() {
      $('.status').text('Realtime is go!');
    });

    pusher.connection.bind('disconnected', function() {
      $('.status').text('Realtime not availaible!');
    });


    var channel = pusher.subscribe('event-<%= @event.token %>');

    channel.bind('message', function(data) {
      $('.chat-join').append("<p>" + "<%=current_user.email%>" + " connected: " + data.message + " </p>");
    });

    channel.bind('livemessage', function(data) {
      $("#livemessage_description").val("");
      $('.chat-box').append("<div class='text'><p>"+data.user+":- "+ data.message  + "</p></div>");
      scrollToBottom();
    });

    channel.bind('question', function(data) {
        $('.chat-box').append("<div class='text'><p>"+data.user+":- "+ data.question_html +"</p></div>" );
    })

    channel.bind('survey', function(data) {
      $('.chat-box').append("<p>"+data.user+":- "+ data.survey_html +"</p>" );

    })



    channel.bind('survey_pie_chart', function(data) {
        // $('.chat').append("<p>"+ data.votes +"</p>" );
        $("#chartContainer-" + data.id).empty();
        var chart = new CanvasJS.Chart("chartContainer-" + data.id,
        {
          title:{
            text: data.question
          },
          animationEnabled: true,
          legend:{
            verticalAlign: "center",
            horizontalAlign: "left",
            fontSize: 20,
            fontFamily: "Montserrat"
          },
          theme: "theme2",
          data: [
          {
            type: "pie",
            indexLabelFontFamily: "Montserrat",
            radius: 60,
            indexLabelFontSize: 15,
            indexLabel: "{label}",
            startAngle:-20,
            showInLegend: false,
            toolTipContent:"{y} votes",
            dataPoints: data.votes
          }]
        });
        chart.render();
      })


    </script>
    <% end %>






  <!-- channel.bind('survey_votes', function(data) {
        $('.chat').append("<p>"+":- "+ data.vote +"</p>" );

      }) -->
