<div class="chat-join">



</div>

<div class="chat">


</div>


<div>
  <h1>Welcome to the event </h1>
  <h2>The event will start at <%= @event.time.strftime("%I" "%M") %></h2>
  <h3><%= link_to @event.name, event_path(@event) %></h3>
</div>

<div>
  <%= link_to "Make a survey", event_new_survey_path(@event) %>
</div>

<div>
  <%= render 'livemessages/new' %>
</div>



<% content_for(:after_js) do %>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('1980dcfefbb9558eb6ee', {
    cluster: 'ap2',
    encrypted: true
    });


    var channel = pusher.subscribe('event-<%= @event.token %>');

    channel.bind('message', function(data) {
      $('.chat-join').append("<p>" + "<%=current_user.email%>" + " connected: " + data.message + " </p>");
    });

    channel.bind('livemessage', function(data) {
        // var msg_array = JSON.parse(data.livemessages);
        // var user_name = JSON.parse(data.users_id);

        for (i=0; i<data.livemessages.length; i++){
          $('.chat').append("<p>"+data.user[i]+":- "+ data.livemessages[i]  +"</p>" );
        }
      });





  </script>
<% end %>
