

<div class="live-components">


  <div class="live-headings">
    <h2>Welcome to the event </h2>
    <p>The event will start at <%= @event.time.strftime("%I" "%M") %></p>

  </div>


  <div class="pdf-slide">
    <%=image_tag"presentation2.png"%>

  </div>
  <div class="survey">
    &nbsp;
    <%= link_to "Make a survey", new_event_survey_path(@event) %>
    <%  if @event.surveys.any? %>
      <%  @event.surveys.each do |survey|  %>
    <%= render "surveys/show_survey", event: @event, survey:survey, vote: Vote.new %>
    <% if @survey_ids.include?(survey.id) %>
      <h4>
      You selected 
      <%= @votes.find{ |v| v.survey_id == survey.id }.option.choice %>
      </h4>
      <%= pie_chart survey.votes.group(:option_id).count%>       
    <% end %>
    <% end %>
    <% end %>

  </div>

  <div class="interactive-chat">
<!-- 
    <div class="chat-join"></div>
    <div class="chat"></div>
    <div class="chat-keyboard"> 
      <%= render 'livemessages/new' %>
    </div> -->
  </div>

  <div class="about-us">
    <%= @event.description %>
  </div>
  
</div>
