<div class="container">
	<div class="row page-title"><h2> /Signup or Login</h2></div>
     <div class="row page-subtitle"><p>And access the latest events</p></div>
</div>
<br>
<div class="container_sign">
  <div>
    <h2>Log In</h2>

    <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class:"btn btn-primary custom" %>
    </div>
    <% end %>
    <br>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>

  <div>
    <%= render "devise/registrations/signupnew" %>
  </div>
</div>
