
      <%= simple_form_for @survey, url: event_surveys_path, method: :post do |f|  %>

        <%= f.input :question %>
        <%#= f.input :category, as: :select, collection: %w(survey survey) %>

        <div id="options">
          <h3>Create Options</h3>

          <%= f.simple_fields_for :options do |option| %>
           <%= render 'option_fields', f: option %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'add option', f, :options %>
          </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>



