<h3><%= survey.question %></h3>
<%= simple_form_for([event,survey,vote], remote: true) do |f| %>
<%= f.association :option, as: :radio_buttons, collection: survey.options, label_method: :choice %>
<%= f.button :submit %>
<% end %>

<% data = survey.options.map(&:as_json)  %>

 <div id="chartContainer-<%= survey.id %>" style="height: 300px; width: 100%;"></div>


<script>
$(document).ready(function(){
  var data = <%= raw data.to_json %>;
  var survey = <%= raw survey.to_json %>;

  console.log(data, survey);


  $("#chartContainer-" + data.id).empty();
  var chart = new CanvasJS.Chart("chartContainer-" + survey["id"],
  {
    title:{
      text: survey["question"]
    },
                animationEnabled: true,
    legend:{
      verticalAlign: "center",
      horizontalAlign: "left",
      fontSize: 20,
      fontFamily: "montserrat"
    },
    theme: "theme2",
    data: [
    {
      type: "pie",
      radius: 60,
      indexLabelFontFamily: "montserrat",
      indexLabelFontSize: 15,
      indexLabel: "{label}",
      startAngle:-20,
      showInLegend: false,
      toolTipContent:"{y} votes",
      dataPoints: data
    }]
  });
  chart.render();
});

</script>
