<%= link_to "Back", user_dashboards_path(current_user) %>

<div class="container">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="row">
      <div class="header">
        <div class="title">
          <h1>Events you created:</h1>
          <div> <%= link_to "Create New", new_event_path %></div>
        </div>
        <div class="description">
          <ul>
            <%  @events.each do |event| %>
            <li>
              <h2><%= link_to event.name,  event_path(event) %></h2>
              <p> <strong> Address: </strong> <%= event.address %></p>
              <p><%= event.description %></p>
              <p> <strong> Date: </strong> <%= event.date %></p>
              <p> <strong> Time: </strong> <%= event.time %></p>
              <p> <strong> Token: </strong> <%= event.token %></p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

